body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7em;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3em;
}
h3 {
  font-family: "Quicksand", sans-serif;
}
body a {
  color: #5a5d64;
  text-decoration: none;
}
body a:hover {
  color: #f85759;
}
.top-nav {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
}
.nav-items {
  display: none;
}

.hamburger {
  z-index: 12;
  cursor: pointer;
}
.menu-button {
  height: 30px;
  padding: 5px;
  margin-left: 8px;
  display: inline-block;
  box-sizing: border-box;
}
@keyframes hideanim {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  99%{
    opacity: 0;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes showanim {
  0%{
    opacity: 0;
    transform: scale(1);
  }
  1%{
    opacity: 0;
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.dimmer {
  background-color: rgba(0, 0, 0, 0.76);
  width: 100%;
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: scale(0);
  transition: opacity 0.5s ease-in-out;
  z-index: 6;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;         /* When the spec is finished */
}
.side-nav:hover {
  transition: left 0s;
}
.side-nav {
  display: block;
  width: 70vw;
  height: 100%;
  position: fixed;
  left: 0vw;
  top: 0;
  z-index: 0;
  opacity: 0;
  transform: translateX(-70vw);
  background-color: white;
  transition: transform 0.5s ease-in-out;
  overflow: scroll;
}
.nav-logo {
  position: relative;
  height: 30px;
  left: 10px;
  margin-top: 17px;
  background-color: transparent;
}
.side-nav ul {
  margin-top: 2vh;
  margin-left: 0;
  padding-left: 0;
}
.side-nav li {
  list-style: none;
  margin-top: 4vh;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Roboto", sans-serif;
}
.side-nav li > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.side-links {
  color: rgb(34, 45, 49);
  margin-left: 10%;
}
.reg-button {
  height: 4vh;
  border-radius: 1vh;
  display: block;
  background-color: rgb(70, 230, 188);
  color: white;
  text-align: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.login-button {
  text-decoration: none;
  color: rgb(70, 230, 188);
  border: 2px solid rgb(70, 230, 188);
  padding: 10px;
  display: block;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.side-nav hr {
  height: 0.5px;
  opacity: 0.2;
}
.quick-link {
  display: block;
  margin-right: 15px;
}
#nav-close {
  text-decoration: none;
  font-family: "Ropa Sans", sans-serif;
  font-size: large;
  float: right;
  margin-top: 2vh;
  margin-right: 10px;
}

.logo img {
  height: 25px;
}
.logo {
    padding-top:17px;
display: inline-block;
    width: 50%;
  }
  .logo span{
    display: inline-block;font-size: 1em;position:absolute; width: fit-content;
    width: -moz-fit-content;
    padding-left: 20px;
    }
.main-cont {
  display: block;
  padding-top: 64px;
  text-align: center;
  line-height: 1.5;
  background-color:#f85759
}
.home-row {
  padding: 0px 0 20px 0;
  text-align: center;
}
#home-image {
  height: 400px;
}


.cover-post{
  
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}
.cover-post-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
.cover-post-head{

  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: bold;
}
.cover-post-desc{
  font-size: 1.5em;
}
.grid-post-head {

  font-family: "Quicksand", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.grid-post-image {
  height: 200px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feat-post-image {
  height: 200px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cover-post-image {
  height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding-top: 20px;
background-color: white;
  line-height: 2;
}
.footer >a {
  margin-left: 10px;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
}
.social {
  padding-top: 20px;
  padding-left: 10px;
}
.social a {
  cursor: pointer;
  opacity: 0.8;
}
.social a:hover {
  opacity: 1;
}
.attribute a {
  color: rgb(70, 230, 188);
}
.attribute a:visited {
  color: #f8ffbc;
}
.social a {
  width: 5vw;
  padding: 1vw;
  margin-right: 5vw;
  background-color: #ebebeb;
  border-radius: 2vw;
  color: rgb(32, 32, 32);
  text-decoration: none;
  padding-bottom: 0px;
}
.social a:focus > img {
  box-shadow: blue;
}
.legal {
  font-size: small;
  padding: 10px;

}
.copyright {
  font-size: small;
  padding: 10px;  color:rgb(32, 32, 32);

}

/*{{}} Ourclasshome.html*/
#home-home-row h2 {
  font-family: "Roboto", sans-serif;
}

#home-home-row {
  /* background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(228, 250, 255));*/
  background-color: #f85759;
}
.points-l .imag {
  background-image: url("../assets/wcardl.svg");
  background-position: center bottom;
  background-size: 100% 100%;
}
.points-r .imag {
  background-image: url("../assets/wcardr.svg");
  background-position: center bottom;
  background-size: 100% 100%;
}

.cont-row img {
  width: 100%;
}
.articles {
  width: 100%;
  padding: 30px 0 30px 0;
  line-height: normal;
  background-color: #f85759;
  color: black;
}

.article-card {
  margin-top: 20px;
  width: 90%;
  display: inline-block;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #adeffe;
  padding: 10px;
  box-sizing: border-box;
}
.article-card a {
  font-size: 1.1em;
}
.article-card a strong {
  transition: linear 100ms;
}
.article-card a:hover strong {
  margin-left: 5px;
}
.article-img {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.text {
  padding: 50px 10px 10px 10px;
  line-height: 1.5;
  background-image: url("../assets/ourclass-home-back1-mob.svg");
  background-size: 100% 100%;
  background-position: center bottom;

}
.points-l {
  display: block;

  text-align: left;
  background-image: url("../assets/ourclass-home-back3-mob.svg");
  background-size: 100% 100%;
  background-position: center bottom;
  box-sizing: border-box;
}
.points-r {
  display: block;
  text-align: left;
  background-image: url("../assets/ourclass-home-back2-mob.svg");
  background-size: 100% 100%;
  background-position: center bottom;
  box-sizing: border-box;
}
.points-l div {
  padding: 5%;
}
.points-r div {
  padding: 5%;
}
.article-text {
  text-overflow: ellipsis;
  overflow: hidden;
}
/*End of ourclasshome.html*/

/*{{}}about.html*/
#about-home-row {
  background-image: url("../assets/about-home-back1.svg");
  background-size: 150% 100%;
  background-position: bottom center;
  padding-top: 20px;
}
#about-home-row >h1{
  padding-top: 0px;
  margin-top:0px;
}
.about-main{
  background-image: linear-gradient(0deg, white 5%,#f85759 5%);
  
}
#cont1 {
  background-image: url("../assets/about-home-back2-mob.svg");
  background-size: 100% 100%;
  padding: 10% 10% 10% 10%;
  box-sizing: border-box;
  color: rgb(255, 194, 194);
}
#cont2 {
  padding: 10% 10% 10% 10%;
  box-sizing: border-box;
  color: black;
  background-image: url("../assets/about-home-backw-mob.svg");
  background-size: 100% 100%;
}
#cont2 h2 {
  color: #f85759;
}
.cont-text {
  font-size: 1.2em;
  line-height: 2;
  text-align: left;
}
.cont-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.cont-text {
  font-size: 1.2em;
  line-height: 2;
  text-align: justify;
}
.about-desk-head-img {
  display: none;
}
.about-mob-head-img {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/*End of about.html*/

/*{{}}Privacy.html*/
.priv-content {
  text-align: left;
  width: 90%;
  display: inline-block;
  scroll-padding: 50px 0 0 50px;
}

.priv-index {
  padding: 10px;
  text-align: left;
}
.priv-index ul {
  line-height: 2;
  font-size: 0.8em;
}
.priv-index ul > li {
  list-style: none;
}
.priv-index a {
  text-decoration: none;
  color: rgb(139, 139, 139);
}
.priv-content h3::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
/*end of privacy*/

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?jvwcle");
  src: url("fonts/icomoon.eot?jvwcle#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?jvwcle") format("truetype"),
    url("fonts/icomoon.woff?jvwcle") format("woff"),
    url("fonts/icomoon.svg?jvwcle#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-active:before {
  content: "\e900";
}
.icon-dormant:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-profile:before {
  content: "\e90a";
}
.icon-purchases:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-at-the-rate:before {
  content: "\e90e";
}
.icon-logout:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e910";
}
.icon-down-doc:before {
  content: "\e911";
}
